BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
#AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true